.edit-wrapper {
  margin: 2em auto;
  padding: 1em 3em;
  max-width: 200px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 11px 17px 5px rgba(128, 121, 121, 0.33);
  background-color: rgba(240, 239, 239, 0.897);
  margin-bottom: 20px;
}
.edit-wrapper h3 {
  padding: 10px;
}

.edit {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.edit-wrapper div {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
.edit-wrapper input {
  background: none;
  border: solid 1px rgb(197, 200, 202);
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgb(255, 255, 255);
}

.edit-back-button {
  background: none;
  border: solid 1px grey;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  width: 100px;
  background-color: gray;
  color: #ffff;
}

.edit-back-button:hover {
  background: none;
  border: solid 1px #054368;
  background-color: #054368;
  color: #ffff;
}
.delete-button {
  background: none;
  border: solid 1px grey;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  width: 100px;
  background-color: gray;
  color: #ffff;
}
.delete-button:hover {
  background: none;
  border: solid 1px #680505;
  background-color: #680505;
  color: #ffff;
}
